:root {
    --champfocus-grey-bg: rgba(41, 41, 41, 0.84);
}

#champion-list {
    padding: 25px 12.5%;
}

.champion {
    background-color: var(--search-grey-bg);
    border-radius: 10px;
    margin-top: 25px;
    padding: 10px;
    border: 2px solid var(--search-grey-border) !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    transition: background-color 0.2s ease-in-out;
}

.champion:hover {
    background-color: var(--champfocus-grey-bg);
}

.champion-header {
    width: 16%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 5px;
    margin-right: 5px;

    border-right: 2px solid var(--search-grey-border);
}

.champion-name {
    font-size: 25px;
    text-align: center;
    margin-top: 3px;
}

.champion-spell-nom {
    font-size: 22px;
}

.champion-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    width: 100%;
}

.champion-spell {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-right: 25px;
}

.champion-spell-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.champion-spell-icone {
    border: 2px solid black;
    box-shadow: 0 0 5px #000000;
    height: 55px;
    margin-right: 15px;
}

.champion-spell-header {
    margin-bottom: 15px;
}

.champion-spell-desc {
    text-align: left;
    width: 100%;
}


/* Forms recherche de champion début */

#search-div {
    padding-left: 13.5%;
    height: 50px !important;
}

#fieldChampIcon {
    height: 100%;
}

#fieldChamp {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width: 60%;
}

.search {
    padding: 10px;
    background-color: var(--search-grey-bg);
    border-radius: 10px 0 0 10px;
    border-top: 2px solid var(--search-grey-border);
    border-bottom: 4px solid var(--violet-plkbrz) !important;
    border-right: 2px solid var(--search-grey-border);
    border-left: 2px solid var(--search-grey-border);
}

.form-control {
    border-bottom: 4px solid var(--violet-plkbrz) !important;
    border-right: 2px solid var(--search-grey-border);
    border-left: none;
    border-top: 2px solid var(--search-grey-border);
    box-shadow: 0 1px 0 0 var(--violet-plkbrz);
    background-color: var(--search-grey-bg);

    box-shadow: 0 5px 5px -5px transparent;

    border-radius: 0 10px 10px 0;

    font-size: 20px;
    color: white;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(251, 251, 251);
    opacity: 1; /* Firefox */
}
  
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(255, 255, 255);
}
  
.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(255, 255, 255);
}

.form-control:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.8;
}
  
.form-control:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: 0.8;
}
  
.form-control:focus::-ms-input-placeholder { /* Microsoft Edge */
    opacity: 0.8;
}

.form-control:focus {
    border-color: var(--violet-plkbrz);
    box-shadow: 0 -5px 5px -5px var(--violet-plkbrz), 5px 0 5px -5px var(--violet-plkbrz), 0 5px 5px -5px var(--violet-plkbrz);
    background-color: var(--search-grey-bg-focus);
    color: white;
    border-left: 0ch;
}

.focused {
    border-top: 2px solid var(--violet-plkbrz);
    border-bottom: 2px solid var(--violet-plkbrz);
    border-left: 2px solid var(--violet-plkbrz);
    box-shadow: 0 -5px 5px -5px var(--violet-plkbrz), -5px 0 5px -5px var(--violet-plkbrz), 0 5px 5px -5px var(--violet-plkbrz);
    background-color: var(--search-grey-bg-focus);
}

#search-div .form-check.radio {
    background-color: var(--nav-grey);
    margin: 0;
}

#search-div .form-check.radio:hover {
    background-color: var(--nav-grey-hover);
    border-top-color: var(--search-grey-border);
    border-right-color: var(--search-grey-border);
    border-left-color: var(--search-grey-border);

    margin: 0;
}

#search-div .dropdown-menu {
    background-color: var(--nav-grey);
    margin-bottom: 0;
}

#search-div .form-check.radio.checked {
    color: var(--violet-plkbrz);
    font-weight: bold;
    cursor: pointer;
}

#search-div .form-check.radio {
    color: white;
    cursor: pointer;
}

#search-div label {
    cursor: pointer;
}

#search-div .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-div .dropdown button {
    margin-left: 20px;
    height: 90%;
    border-bottom-color: var(--violet-plkbrz);
    border-width: 2px;
    border-bottom-width: 4px;
    border-radius: 10px;
}

.btn-secondary {
    background-color: var(--search-grey-bg);
    border: 2px solid var(--search-grey-border);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn-secondary:focus, .btn-secondary:active, .btn-secondary:hover {
    background-color: var(--search-grey-bg-focus);
    border-top-color: var(--search-grey-border);
    border-right-color: var(--search-grey-border);
    border-left-color: var(--search-grey-border);
}

#search-div .dropdown button.show {
    background-color: var(--search-grey-bg-focus) !important;
}

#dropdownType button {
    width: 110px !important;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

/* Forms recherche de champion fin */

em.tag {
    text-decoration: underline;
    font-style: normal;
}

.champion-tag-list {
    position: absolute;
    left: 80%;
    padding: 0 10px;
}

.champion-tag {
    width: 0;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
    border-radius: 15px;
    border: 2px solid var(--search-grey-border);

    background-color: var(--champfocus-grey-bg);
    transition: all 0.2s ease-in-out;

    display: none;
}

.champion:hover .champion-tag {
    width: 60%;
    display: flex;
}

.champion-tag * {
    text-align: center;
}

.icon-dmg {
    position: relative;
    width: 100px;
    left: -27px;
    height: 24px;
    align-self: center;
    display: block;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    cursor:help;
}

.icon-dmg.dmg-AP {
    background-image: url("../files/images/AP.png");
}

.icon-dmg.dmg-AD {
    background-image: url("../files/images/AD.png");
}