.floated-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

.main-block {
    font-size: 20px;
    text-align: justify;
}

#content .floated-images .image-container {
    display: flex;
    flex-direction: row;
    width: 100%;

    margin-bottom: 6px;

}

.paysage-1, .pasyage-3 {
    justify-content: flex-start;
}

.paysage-2 {
    justify-content: flex-end;
}

.main-block p {
    margin-bottom: 0px;
}

.p-margin-top {
    margin-top: 45px;
}

strong {
    font-weight: bold;
}

p.title {
    font-size: 26px;
}

.author {
    display: flex;
    flex-direction: column;

}

.author .main-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    padding-left: 3%;

}

.author.palkiabraz .main-block .image-container {
    width: 185px;
    height: 185px;
    margin-right: 20px;
}

.links-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-bottom: 20px;
}

.links-container .link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.link-icon {
    filter: invert(95%) sepia(5%) saturate(20%) hue-rotate(263deg) brightness(106%) contrast(107%);
} 

.link-icon.discord {
    margin: 0px 3px;
}

.link-icon.twitter {
    margin: 0px 2px;
}

.link-icon.github, .link-icon.linkedin, .link-icon.carrd, .link-icon.instagram {
    margin: 0px 5px;
}

.link:hover {
    background-color: rgba(69, 69, 69, 0.324);
    border-radius: 5px;
}

.link-text {
    margin-left: 10px;
    color: black;
    filter: invert(95%) sepia(5%) saturate(20%) hue-rotate(263deg) brightness(106%) contrast(107%);
}

.link.discord:hover .link-text, .link.discord:hover .link-icon.discord {
    filter: invert(67%) sepia(91%) saturate(2855%) hue-rotate(199deg) brightness(90%) contrast(88%);
}

.link.gmail:hover .link-text, .link.gmail:hover .link-icon.gmail {
    filter: invert(37%) sepia(45%) saturate(6976%) hue-rotate(346deg) brightness(93%) contrast(90%);
}

.link.twitter:hover .link-text, .link.twitter:hover .link-icon.twitter {
    filter: invert(50%) sepia(95%) saturate(1625%) hue-rotate(175deg) brightness(97%) contrast(96%);
}

.link.github:hover .link-text, .link.github:hover .link-icon.github {
    filter: invert(9%) sepia(21%) saturate(620%) hue-rotate(175deg) brightness(99%) contrast(97%);
}

.link.linkedin:hover .link-text, .link.linkedin:hover .link-icon.linkedin {
    filter: invert(25%) sepia(86%) saturate(5610%) hue-rotate(187deg) brightness(95%) contrast(102%);
}

.link.carrd:hover .link-text, .link.carrd:hover .link-icon.carrd {
    filter: invert(94%) sepia(12%) saturate(5338%) hue-rotate(284deg) brightness(101%) contrast(80%);
}

.link.instagram:hover .link-text {
    filter: invert(35%) sepia(30%) saturate(4985%) hue-rotate(6deg) brightness(100%) contrast(107%);
}

.link.instagram:hover .link-icon.instagram {
    filter: invert(18%) sepia(92%) saturate(3759%) hue-rotate(329deg) brightness(85%) contrast(88%);
}


.link {
    margin: 5px;
    width: fit-content;
    padding: 10px;
}

.paragraph.main-block {
    margin-bottom: 20px;
}

.author.palkiabraz:before, .author.palkiabraz:after {
    content: '';
    display: block;

    border-bottom: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.author.palkiabraz:before {
    margin: 0px 20% 15px 20%;
}

.author.palkiabraz:after {
    margin: 45px 30% 15px 30%;
}

.author .title {
    text-align: center;
}

.author .main-block {
    justify-content: center;
}

.remerciements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.remerciements.title {
    font-size: 26px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
}

.remerciements.text {
    margin: 0% 0% 15px 0%;
    font-size: 20px;
}

.remerciements .author {
    width: 100%;
}

.misucookie {
    padding-right: 10%;
}

.kuuroneko {
    padding-left: 10%;
}